<nav>
  <ul class="pagination">
    <li [ngClass]="{'page-item': true, 'disabled': currentPage == 1}" id="page-first" (click)="ClickFirstPage();">
      <a class="page-link" aria-label="First">
        <i class="fas fa-angle-double-left"></i>
      </a>
    </li>
    <li [ngClass]="{'page-item': true, 'disabled': currentPage == 1}" id="page-previous">
      <a class="page-link" aria-label="Previous" (click)="ClickPreviousPage();">
        <i class="fas fa-angle-left"></i>
      </a>
    </li>
    <li *ngFor="let page of pageArray" [ngClass]="{'page-item': true, 'active': page == currentPage, 'inactive': page != currentPage}"
      id="{{'page-' + page}}"><a class="page-link" (click)="ClickPageNumber(page);">{{ page }}</a></li>
    <li [ngClass]="{'page-item': true, 'disabled': currentPage == pageNumber}" id="page-next" (click)="ClickNextPage();">
      <a class="page-link" aria-label="Next">
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
    <li [ngClass]="{'page-item': true, 'disabled': currentPage == pageNumber}" id="page-last" (click)="ClickLastPage();">
      <a class="page-link" aria-label="Last">
        <i class="fas fa-angle-double-right"></i>
      </a>
    </li>
  </ul>
</nav>