<div class="container-fluid">
  <h1 class="m-title">Log Management <i class="fas fa-plus-circle add" title="Add new log" data-target="#CreateLogModal"
      data-toggle="modal"></i></h1>
  <div class="d-flex justify-content-end">
    <form (ngSubmit)="SearchLog();" class="w-50">
      <mat-form-field class="example-full-width">
        <input id="search-form" name="username" type="text" class="form-control d-inline" placeholder="Search by log name..."
          matInput [formControl]="myControl" [matAutocomplete]="autocomplete">
        <mat-autocomplete #autocomplete="matAutocomplete">
          <mat-option *ngFor="let option of filteredOption | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button id="search-button" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <div *ngIf="logs?.length == 0">
    <h2>Sorry No Result Found</h2>
  </div>
  <div *ngIf="logs?.length > 0" class="log-table">
    <div [attr.id]="item.LogId" class="log m-shadow" *ngFor="let item of logs">
      <div class="head">
        <p id="status" class="mr-5" [ngClass]="{
            'bg-primary': item.Status == 'Open',
            'bg-danger': item.Status == 'Processing',
            'bg-success': item.Status == 'Done'
          }">{{
          item.Status }}</p>
        <i class="fas fa-info-circle text-warning" title="This log type is info" *ngIf="item.LogType == 'Info'"></i>
        <i class="fas fa-exclamation-triangle text-danger" title="This log type is error" *ngIf="item.LogType == 'Error'"></i>
        <i class="fas fa-laptop-code text-secondary" title="This log type is Auto" *ngIf="item.LogType == 'Auto Log'"></i>
        <a routerLink="/log-details/{{ item.LogId }}" id="title">{{item.LogName}}</a>
      </div>
      <div class="date">
        <p><span class="font-weight-bold">Created at: </span>{{ item.CreateDate | date: 'dd/MM/yyyy hh:mm' }}</p>
        <p><span class="font-weight-bold">Modified at: </span>{{ item.ModifyDate | date: 'dd/MM/yyyy hh:mm' }}</p>
        <i title="Remove this log" class="fas fa-trash-alt" (click)="setId(item.LogId)" data-target="#deleteModal"
          data-toggle="modal"></i>
      </div>
    </div>
  </div>
  <br>
  <app-pagination *ngIf="!isHidden" class="d-flex justify-content-end" (sendArray)="RefeshArray($event);"></app-pagination>
</div>

<!-- Modal -->
<div class="modal fade" id="CreateLogModal" role="dialog">
  <div class="modal-dialog" style="max-width: 50%;">
    <div class="modal-content">
      <div class="modal-header" style="border-radius:5px 5px 0px 0px;background-color:#474747;color:white">
        <h5 class="modal-title">Create new log</h5>
        <button type="button" class="close text-light" data-dismiss="modal">
          &times;
        </button>
      </div>
      <form (ngSubmit)="OnSubmit(formAddLog);" #formAddLog="ngForm">
        <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="row">
                <label class="control-label col-lg-2">Log Name</label>
                <div class="col-lg-9">
                  <input id="logName" class="form-control" type="text" ngModel name="logName" #logName="ngModel"
                    required maxlength="50" />
                  <div *ngIf="(logName.errors?.maxlength || logName.errors?.required) && (logName.touched || logName.dirty)"
                    class="alert alert-danger" role="alert">
                    <div id="isErrorRequiredLogName" [hidden]="!logName.errors?.required">
                      LogName is required
                    </div>
                    <div id="isErrorMaxLengthLogName" [hidden]="!logName.errors?.maxlength">
                      LogName cannot be more than 50 characters long
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <label class="control-label col-lg-2">Log Type</label>
                <div class="col-lg-9">
                  <select id="logType" class="form-control" id="logType" [(ngModel)]="logTypeNgModel" name="logType"
                    #logType="ngModel">
                    <option value="Info">
                      Info
                    </option>
                    <option value="Error">
                      Error
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <label class="control-label col-lg-2">Status</label>
                <div class="col-lg-9">
                  <select id="status" class="form-control" id="status" [(ngModel)]="statusNgModel" name="status"
                    #status="ngModel">
                    <option value="Open">
                      Open
                    </option>
                    <option value="Processing">
                      Processing
                    </option>
                    <option value="Done">
                      Done
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <label class="control-label col-lg-2">Description</label>
                <div class="col-lg-9">
                  <angular-editor [config]="editorConfig" [(ngModel)]="descriptionNgModel" name="description"></angular-editor>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <div class="form-actions no-color text-center">
            <input [disabled]="formAddLog.invalid" class="btn btn-outline-dark mr-1" type="submit" value="Save" />
            <input class="btn btn-outline-dark" data-dismiss="modal" value="Cancel" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Confirm Delete?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really wanna delete this log ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary-outline" (click)="DeleteLog(LogIdPicked)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>